<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/graphics/css/add-service.css">
    <title>Добавить услугу | АвтоПрофи</title>

</head>
<body>
<main>
    <section class="form-container">
        <header>
            <h1>Добавить услугу</h1>
        </header>
        <form action="/services/add" method="post">

            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />

            <div>
                <label for="name">Название услуги:</label>
                <input type="text" id="name" name="name" placeholder="Введите название услуги" required>
            </div>

            <div>
                <label for="description">Описание услуги:</label>
                <input type="text" id="description" name="description" placeholder="Введите описание услуги" required>
            </div>

            <div>
                <label for="price">Цена:</label>
                <input type="number" id="price" name="price" placeholder="Введите цену" min="0" required>
            </div>

            <button type="submit">Добавить услугу</button>
        </form>
        <nav>
            <a href="/services">Назад</a>
        </nav>
    </section>
</main>
</body>
</html>
