<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/graphics/css/cars.css">
  <title>Список автомобилей</title>
</head>
<body>
<main>
  <header>
    <h1>Список автомобилей</h1>
  </header>
  <section>
    <table>
      <thead>
      <tr>
        <th>Бренд</th>
        <th>Модель</th>
        <th>Год</th>
        <th>Объем двигателя</th>
        <th>Пробег</th>
        <th>Владелец</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="car : ${cars}">
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.year}"></td>
        <td th:text="${car.engine_volume}"></td>
        <td th:text="${car.mileage}"></td>
        <td th:text="${car.users.name}"></td>
        <td>
          <a th:href="@{/cars/edit/{id}(id=${car.id})}">Редактировать</a>
          <a th:href="@{/cars/delete/{id}(id=${car.id})}">Удалить</a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="center-button">
      <a href="/cars/add" class="add-button">Добавить автомобиль</a>
    </div>
  </section>
</main>
</body>
</html>
