<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/graphics/css/edit-service.css">
  <title>Редактировать услугу | АвтоПрофи</title>
</head>
<body>
<main>
  <section class="form-container">
    <header>
      <h1>Редактировать услугу</h1>
    </header>
    <form th:action="@{/services/edit/{id}(id=${service.id})}" method="post">
      <input type="hidden" name="id" th:value="${service.id}">

      <label for="name">Название услуги:</label>
      <input type="text" id="name" name="name" th:value="${service.name}" required>

      <label for="description">Описание услуги:</label>
      <input type="text" id="description" name="description" th:value="${service.description}" required>

      <label for="price">Цена:</label>
      <input type="number" id="price" name="price" th:value="${service.price}" required>

      <button type="submit">Сохранить изменения</button>
    </form>

    <nav>
      <a th:href="@{/services}">Назад</a>
    </nav>
  </section>
</main>
</body>
</html>
