/* Общий стиль страницы */
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Заголовок */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Основной раздел */
main {
    flex: 1;
    padding: 20px;
}

/* Секция с таблицей */
section {
    width: 85%;
    margin: 20px auto 0 auto; /* Добавлена верхняя граница */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Таблица */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #4CAF50;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    font-size: 1rem;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Ссылки и кнопки для действий */
.actions a {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.actions a:hover {
    background-color: #45a049;
}

.actions a.btn-danger {
    background-color: #f44336;
}

.actions a.btn-danger:hover {
    background-color: #e53935;
}

/* Центрирование кнопки добавления */
.center-button {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.center-button a.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.center-button a.btn:hover {
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    section {
        width: 100%;
        padding: 10px;
    }

    table, th, td {
        display: block;
        width: 100%;
    }

    th, td {
        box-sizing: border-box;
        width: 100%;
    }
}
